@import "tailwindcss";

#root {
  min-height: 100vh;
  background-color: #F8FAFC; 
  color: #0F172A;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #E2E8F0; 
  border-radius: 10px;
}

.premium-card {
  background: white;
  border: 1px solid #F1F5F9;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.04), 0 8px 10px -6px rgba(0, 0, 0, 0.04);
}